
* {
	font-weight: 500;
}


body {
	background-color: black;
	font-family: 'Inter', sans-serif;
	max-width: 700px;
	margin: auto;
	padding: 0 20px;
}

h1 {
	font-size: calc(2rem + 1vw);
	color: #ededed;
	width: 100%;
	font-weight: bold;
	z-index: 2;
	transition: color 0.3s;
	margin: 20px 0 15px 0;
}

h2 {
	font-size: 2em;
	color: #ededed;
	width: 100%;
	font-weight: bold;
	z-index: 2;
	transition: color 0.3s;
	margin: 20px 0 10px 0;
}

.about{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.about p {
	margin-bottom: 8px;
	font-weight: 600;
}

.profile{
	max-width: 250px;
}

p,
li {
	color: #ededed;
	font-size: 20px;
}

ul {
	display: inline-block;
	list-style: none;
	margin: auto
}

ul {
	padding: 10px;
}

ul li{
	margin-bottom: 1.5rem;
}

li p.years {
	margin-bottom: .25rem;
	font-size: 14px !important;
	color: #888
}

li p.title{
	font-weight: 600;
	color: #ededed;
	font-size: 20px;
	margin-bottom: 0rem;
}

li p.location {
	font-weight: 600;
	color: #888;
	font-size: 20px;
	margin-bottom: .5rem;

}

li p.description {
	font-size: 14px;
	font-weight: 400;
	color: #888;
	margin-bottom: 2rem;
}

.skills li p {
	color: #888;
	font-weight: 600;
}

.skills li span{
	color: #ededed;
	font-weight: 600;
}


@media (max-width: 450px) {
	h1 {
		font-size: 15vw;
	}
}

@media (max-width: 576px) {
	h1 {
		margin-left: 15px;
	}
}